<div
    class="page-header"
    style="background-image: url('assets/img/banner__.png')"
  >
    <div class="content-center">
      <div class="container">
        <div class="row">
          <div class="col-md-7 text-left" data-aos="fade-right" data-aos-duration="1500" >
            <h1 class="title">BUILDING BRIDGES & POWERING PROSPERITY</h1>
            <h1 class="subtitle">Looking for a safe and rewarding way to grow your money this summer?</h1>
            <div class="buttons">
              <a class="btn btn-outline-danger btn-lg" id="getPromo">
                Summer Special Promotion!</a
              >
            </div>
           
          </div>
        </div>
      </div>
    </div>
   
  </div>