.card-register{
    background-color: #405dab;
}

.btn-danger{
    background-color: #354d8d;
    color: #fff;
    border-color: #354d8d;
}

.page-header .card-register .title{
    color: #fff;
}

.info-warning{
    padding-top: 15px;
    font-size: 13px;
    color: #ffb8b8;
}

.page-header .filter:after{
    background-color: #00000036;
}

.btn-danger:hover {
    color: #fff;
    background-color: #398cd0;
    border-color: #398cd0;
}

.btn-danger:focus {
    color: #fff;
    background-color: #398cd0;
    border-color: #398cd0;
}

// @media (max-width: 767px) {

// }