
<!-- <nav id="navbar" class="navbar navbar-expand-lg fixed-top">
  <div class="container">
      <div class="navbar-translate">
          <a class="navbar-brand" href="#">
              <img src="../../../assets/img/logo-white.png" alt="" id="mainLogo">
              <span class="demo">Beta Version</span>
          </a>
          
          <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
              <span class="navbar-toggler-bar"></span>
              <span class="navbar-toggler-bar"></span>
              <span class="navbar-toggler-bar"></span>
          </button>
      </div>
      <div class="collapse navbar-collapse" id="navbarToggler">
          <ul class="navbar-nav ml-auto">
             <li class="nav-item">
                  <span class="nav-link" href="personal">PERSONAL</span>
              </li>
              <li class="nav-item">
                  <span class="nav-link" href="personal">SME</span>
              </li>
              <li class="nav-item">
                  <span target="_blank" class="nav-link" id="about_link">CORPORATE</span>
              </li>
              <li class="nav-item">
                <span target="_blank" class="nav-link" id="about_link">ABOUT US</span>
            </li>
            
          </ul>
      
      </div>
  </div>
</nav> -->
<app-navbar></app-navbar>
<div class="fullpage" id="fullpage">
<div class="section" id="first">
  <div
    class="page-header section-dark"
    style="background-image: url('assets/img/banner__.png')"
  >
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="row">
          <div class="col-md-7 text-left" data-aos="fade-right" data-aos-duration="1500" >
            <h1 class="title">BUILDING BRIDGES & POWERING PROSPERITY</h1>
            <h1 class="subtitle">Looking for a safe and rewarding way to grow your money this summer?</h1>
            <div class="buttons">
              <a class="btn btn-outline-danger btn-lg" id="getPromo">
                Summer Special Promotion!</a
              >
            </div>
           
          </div>
        </div>
      </div>
    </div>
   
  </div>
 
  <div class="main">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="nav">
            <div class="nav-slot bg-white round-top-left" id="deposit">
              <span class="active" >
                <div> <img src="../../../assets/img/deposit.png" alt=""></div>
              <div class="title_">Deposit</div>
              </span>
            </div>
            <div class="nav-slot bg-white" id="loan">
              <span>
                <div><img src="../../../assets/img/loan.png" alt=""></div>
                <div class="title_">Loans</div>
              </span>
            </div>
            <div class="nav-slot bg-white" id="service">
              <span>
                <div><img src="../../../assets/img/service.png" alt=""></div>
              <div class="title_">Services</div>
              </span>
            </div>
            <div class="nav-slot bg-white round-top-right" id="promo">
              <span>
                <div>
                  <img src="../../../assets/img/promo.png" alt="">
                </div>
                <div class="title_">Promotions</div>
              
              </span>
            </div>
            <div class="nav-slot bg-white round-top-right" id="branch">
              <span>
                <div> <img src="../../../assets/img/branch.png" alt=""></div>
              <div class="title_">Branches</div>
              </span>
            </div>
          </div>
        </div>
      
      </div>
      
    </div>
    
  </div>
</div>

<div class="section" [class.scrolled]="scrolled">
  <div class="why-metro">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1>Discover Metro Bank</h1></div>
        <div class="col-md-4">
          <h3>Who We Are</h3>
          <p>
            Metro Bank, an esteemed financial
            institution, was established in 2013
            and currently operates 14 branches
            nationwide</p>
        </div>
        <div class="col-md-4">
          <h3>Vision</h3>
          <p>Building Bridges and Powering Prosperity: We envision a future where we bridge the gap between people, businesses, and opportunities, fostering economic growth and shared prosperity within Myanmar. 
          </p>
        </div>
        <div class="col-md-4">
          <h3>Connect with us 
          </h3>
          <p>Stay connected with Metro Bank! Find our latest updates, engage with our community, and reach out with any questions or feedback.  Call Us : 01 230 6290
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="deposit">
    <div class="container">
      <div class="test">
        <div class="card page-carousel">
          <ngb-carousel>
              <ng-template ngbSlide>
                <div class="row d-flex justify-content-center align-items-center" id="one">
                  <div class="col-md-8">
                    <h1>Metro Personal Deposits</h1>
                      
                      <img class="animate" src="../../../assets/img/animation.gif" alt="" style="height:70px !important;">
                      <p>
                        Our personal deposit accounts are designed to help you manage your finances with ease and flexibility. Whether you're saving for the future, planning for a big purchase, or simply looking for a secure place to keep your money, we have the right account for you. Choose from a variety of account options, including current accounts for everyday spending, savings accounts to help you reach your financial goals and Fixed Deposits for the highest returns we offer. 
    
                      </p>
                      <div class="row" style="padding-bottom:30px;">
                        <div class="col-md-4 col-sm-4 col-12">
                          <ul class="no-pad">
                            <li>Call Account</li>
                            <li>Current Account</li>
                            
                          </ul>
                        </div>
                        <div class="col-md-4 col-sm-4 col-12">
                          <ul class="no-pad">
                            <li>Savings Account</li>
                            <li>Fixed Deposit</li>
                           
                          </ul>
                        </div>
                        <div class="col-md-4 col-sm-4 col-12">
                          <ul class="no-pad">
                            <li>Fixed Deposit</li>
                            <li>Instant Fixed Deposit</li>
                          </ul>
                        </div>
                      </div>
                     
                  </div> 
                  <div class="col-md-4 d-flex align-items-center justify-content-center">
                    <div class="first">
                      <img src="../../../assets/img/personal_deposit.png" class="img-fluid" alt="">
                    </div>
                    
                  </div>
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="row d-flex justify-content-center align-items-center" id="two">
                  <div class="col-md-8">
                    <h1>Metro Corporate Deposits</h1>  
                      <img class="animate" src="../../../assets/img/animation.gif" alt="" style="height:70px !important;">  
                      <p>
                        At Metro Bank, we understand the unique financial needs of large corporations. Our corporate deposit accounts offer a secure and efficient way for businesses to manage their funds and maximize returns. With competitive interest rates and a range of account options tailored to suit your specific requirements, we provide the flexibility and reliability you need to grow your enterprise. Partner with us and experience convenience and peace of mind.
    
                      </p>
                      <div class="row" style="padding-bottom:30px;">
                        <div class="col-md-3 col-sm-3 col-12">
                          <ul class="no-pad">
                            <li>Call Account</li>
                            <li>Current Account</li>
                            
                          </ul>
                        </div>
                        <div class="col-md-3 col-sm-3 col-12">
                          <ul class="no-pad">
                            <li>Savings Account</li>
                            <li>Fixed Deposit</li>
                          </ul>
                        </div>
                      </div>
                  </div>
                  <div class="col-md-4 d-flex align-items-center justify-content-center">
                    <div class="first">
                      <img src="../../../assets/img/corporate_deposite.png" class="img-fluid" alt="">
                    </div>
                    
                  </div>
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="row d-flex justify-content-center align-items-center" id="three">
                  <div class="col-md-8">
                    <h1>Metro SME Deposits</h1>  
                      <img class="animate" src="../../../assets/img/animation.gif" alt="" style="height:70px !important;">  
                      <p>
                        Our SME Deposit Accounts offer flexible options to help you manage your funds efficiently. Whether you're looking to save for future investments, maintain liquidity, or earn competitive interest rates, we have the right account for you. At our bank, we prioritize security, reliability, and transparency, ensuring that your funds are safe and accessible whenever you need them. Join us today and discover how our SME Deposit Accounts can help fuel your business success.
  
                      </p>
                      <div class="row" style="padding-bottom:30px;">
                        <div class="col-md-3 col-sm-3 col-12">
                          <ul class="no-pad">
                            <li>Call Account</li>
                            <li>Current Account</li>
                            
                          </ul>
                        </div>
                        <div class="col-md-3 col-sm-3 col-12">
                          <ul class="no-pad">
                            <li>Savings Account</li>
                            <li>Fixed Deposit</li>
                          </ul>
                        </div>
                      </div>
                  </div>
                  <div class="col-md-4 d-flex align-items-center justify-content-center">
                    <div class="first">
                      <img src="../../../assets/img/sme_deposit.png" class="img-fluid" alt="">
                    </div>
                    
                  </div>
                </div>
                </ng-template>
          </ngb-carousel>
      </div>
        <!-- <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide>
           
            <div class="row d-flex justify-content-center align-items-center" id="one">
              <div class="col-md-8">
                <h1>Metro Personal Deposits</h1>
                  
                  <img class="animate" src="../../../assets/img/animation.gif" alt="" style="height:70px !important;">
                  <p>
                    Our personal deposit accounts are designed to help you manage your finances with ease and flexibility. Whether you're saving for the future, planning for a big purchase, or simply looking for a secure place to keep your money, we have the right account for you. Choose from a variety of account options, including current accounts for everyday spending, savings accounts to help you reach your financial goals and Fixed Deposits for the highest returns we offer. 

                  </p>
                  <div class="row" style="padding-bottom:30px;">
                    <div class="col-md-4 col-sm-4 col-12">
                      <ul class="no-pad">
                        <li>Call Account</li>
                        <li>Current Account</li>
                        
                      </ul>
                    </div>
                    <div class="col-md-4 col-sm-4 col-12">
                      <ul class="no-pad">
                        <li>Savings Account</li>
                        <li>Fixed Deposit</li>
                       
                      </ul>
                    </div>
                    <div class="col-md-4 col-sm-4 col-12">
                      <ul class="no-pad">
                        <li>Fixed Deposit</li>
                        <li>Instant Fixed Deposit</li>
                      </ul>
                    </div>
                  </div>
                 
              </div> 
              <div class="col-md-4 d-flex align-items-center justify-content-center">
                <div class="first">
                  <img src="../../../assets/img/personal_deposit.png" class="img-fluid" alt="">
                </div>
                
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
           
            <div class="row d-flex justify-content-center align-items-center" id="two">
              <div class="col-md-8">
                <h1>Metro Corporate Deposits</h1>  
                  <img class="animate" src="../../../assets/img/animation.gif" alt="" style="height:70px !important;">  
                  <p>
                    At Metro Bank, we understand the unique financial needs of large corporations. Our corporate deposit accounts offer a secure and efficient way for businesses to manage their funds and maximize returns. With competitive interest rates and a range of account options tailored to suit your specific requirements, we provide the flexibility and reliability you need to grow your enterprise. Partner with us and experience convenience and peace of mind.

                  </p>
                  <div class="row" style="padding-bottom:30px;">
                    <div class="col-md-3 col-sm-3 col-12">
                      <ul class="no-pad">
                        <li>Call Account</li>
                        <li>Current Account</li>
                        
                      </ul>
                    </div>
                    <div class="col-md-3 col-sm-3 col-12">
                      <ul class="no-pad">
                        <li>Savings Account</li>
                        <li>Fixed Deposit</li>
                      </ul>
                    </div>
                  </div>
              </div>
              <div class="col-md-4 d-flex align-items-center justify-content-center">
                <div class="first">
                  <img src="../../../assets/img/corporate_deposite.png" class="img-fluid" alt="">
                </div>
                
              </div>
            </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="row d-flex justify-content-center align-items-center" id="two">
                <div class="col-md-8">
                  <h1>Metro SME Deposits</h1>  
                    <img class="animate" src="../../../assets/img/animation.gif" alt="" style="height:70px !important;">  
                    <p>
                      Our SME Deposit Accounts offer flexible options to help you manage your funds efficiently. Whether you're looking to save for future investments, maintain liquidity, or earn competitive interest rates, we have the right account for you. At our bank, we prioritize security, reliability, and transparency, ensuring that your funds are safe and accessible whenever you need them. Join us today and discover how our SME Deposit Accounts can help fuel your business success.

                    </p>
                    <div class="row" style="padding-bottom:30px;">
                      <div class="col-md-3 col-sm-3 col-12">
                        <ul class="no-pad">
                          <li>Call Account</li>
                          <li>Current Account</li>
                          
                        </ul>
                      </div>
                      <div class="col-md-3 col-sm-3 col-12">
                        <ul class="no-pad">
                          <li>Savings Account</li>
                          <li>Fixed Deposit</li>
                        </ul>
                      </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex align-items-center justify-content-center">
                  <div class="first">
                    <img src="../../../assets/img/sme_deposit.png" class="img-fluid" alt="">
                  </div>
                  
                </div>
              </div>
            </ng-template>
           
        </owl-carousel-o> -->
    </div>
      
    
    </div>
  </div>
</div>

<div class="section">
  <div class="loan">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-md-7">
          <div class="left">
            <h1>Special & Unique for Your Banking Loan Experiences</h1>
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">
                  <ngb-tabset (tabChange)="onTabChange($event)">
                      <!-- <ngb-tab title="Signature Loans">
                          <ng-template ngbTabContent>
                            <div >
                              <p>Introducing our exclusive suite of tailored loan solutions designed for our valued customers. At Metro Bank, we understand the unique financial needs and aspirations of our elite customers. Our specialized loan offerings provide flexible terms, competitive rates, and personalized service to support your lifestyle goals. Whether you're seeking financing for luxury real estate, your dream car, or business plans, our dedicated team is committed to delivering unparalleled assistance and discretion. Experience the epitome of financial excellence with our prestigious loan options, crafted exclusively for your needs.</p>
                              <ul>
                                <li>High Valued Loans</li>
                                <li>Goal-Backed Loans</li>
                                <li>Premium Auto Loans</li>
                                <li>Metro Cash Unlock</li>
                              </ul>
                            </div>
                          </ng-template>
                      </ngb-tab> -->
                      <ngb-tab title="Personal Loans">
                          <ng-template ngbTabContent>
                              <p>Looking to fulfill your dreams or tackle unexpected needs? Our personal loans are tailored to suit your individual needs. Whether you're renovating your home, buying your dream car, or fulfilling household needs, our flexible loan options offer competitive rates and terms. With a streamlined application process and personalized assistance from our expert team, achieving your financial goals has never been easier.
                              </p>
                              <ul>
                                <li>Home Equity Loan</li>
                                <li>Home Loans</li>
                                <li>Education Loan</li>
                                <li>Retail Secured Term Loans</li>
                              </ul>
                          </ng-template>
                      </ngb-tab>
                      <ngb-tab title="Corporate Loans">
                        <ng-template ngbTabContent>
                            <p>Unlock your business's potential with tailored financial solutions from Metro Bank. Our comprehensive suite of loans is designed to meet the unique needs of companies and large corporates, providing flexible terms and competitive rates. Whether you're expanding operations, investing in new equipment, or managing cash flow, our experienced team is here to support your growth ambitions.
                            </p>
                            <ul>
                              <li>Corporate Expansion Loans</li>
                              <li>Working Capital Loans</li>
                              <li>Commercial Properties Loans</li>
                              <li>Equipment Financing Loans</li>
                            </ul>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="SME Loans">
                      <ng-template ngbTabContent>
                          <p>At Metro Bank, we understand the unique needs of SMEs, offering flexible financing solutions designed to support growth, innovation, and sustainability. Whether you're launching a startup or expanding your operations, our expert advisors will work closely with you to customize loan options that match your specific requirements. 
                          </p>

                          <ul>
                            <li>SME Business Expansion Loan</li>
                            <li>SME Working Capital Loan</li>
                            <li>SME Commercial Properties Loans</li>
                            <li>SME Equipment Financing Loans</li>
                          </ul>
                      </ng-template>
                  </ngb-tab>
                  </ngb-tabset>
              </div>
          </div>
          </div>
       
        </div>
        <div class="col-md-5 text-center">
          <!-- <img src="../../../assets/img/signature.png" alt="" class="img-fluid" *ngIf="sig"> -->
          <img src="../../../assets/img/personal.png" alt="" class="img-fluid" *ngIf="personal">
          <img src="../../../assets/img/corporate.png" alt="" class="img-fluid" *ngIf="corporate">
          <img src="../../../assets/img/sme.png" alt="" class="img-fluid" *ngIf="sme">
      </div>
    </div>
  </div>
 
</div>
</div>


<div class="section">
  <div class="promotions">
    <div class="deposit" style="align-items: center;">
      <div class="container">
        <div class="row d-flex justify-content-center align-items-center" id="one">
          <div class="col-md-6">
            <div class="card page-carousel">
              <ngb-carousel>
                  <ng-template ngbSlide>
                      <div>
                        <h3>Summer Special Fixed Deposit: Secure Your Savings! 
                        </h3>
                        <p>Looking for a safe and rewarding way to grow your money this summer? Look no further! Our Summer Special Fixed Deposit offers you the perfect opportunity.
                          Visit our Facebook Page or contact our friendly customer service team for more details. 
                          
                          </p>
                          <p>Call Us:  01 230 6290</p>
                      </div>
                  </ng-template>
                  <!-- <ng-template ngbSlide>
                    <div>
                      <h3>Feature Promotions & Deal 2</h3>
                      <p>Our exclusive loyalty programme
                        give you great rewards to use any way 
                        you like from cashback</p>
                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div>
                      <h3>Feature Promotions & Deal 3</h3>
                      <p>Our exclusive loyalty programme
                        give you great rewards to use any way 
                        you like from cashback</p>
                    </div>
                  </ng-template> -->
              </ngb-carousel>
          </div>
          </div>
          <div class="col-md-6">
            <img src="../../../assets/img/special-promo.png" class="img-fluid" alt="" style="border-radius: 5px;">
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>

<div class="section" style="background-color: #405dab;">
  <div class="branches" style="padding-top:0;padding-bottom:0;">
      <div class="container">
        <div class="row d-flex justify-content-center align-items-center" id="one">
          <div class="col-md-12">
            <h1>Our Branches</h1>
          </div>
          <div class="col-md-6" style="display: flex; flex-direction: column;">
            <div style="flex-grow: 1;">
              <h3>Locate Us</h3>
              <!-- <select class="form-select" (change)="onLocationChange(markers[$event.target.selectedIndex - 1])">
                <option value="" disabled selected>Select Location</option>
                <option *ngFor="let branch of markers;" [value]="branch.label">{{ branch.label }}</option>
              </select> -->
              <select class="form-select" [(ngModel)]="selectedBranch" (ngModelChange)="onBranchSelect()">
                <option value="" disabled selected>Select Location</option>
                <option *ngFor="let branch of markers;" [value]="branch.label">{{ branch.label }}</option>
              </select>
              <!-- <div class="branchlist">
              <ul>
                <li *ngFor="let branch of markers;"
                    (click)="gotomap(branch.lat, branch.lng, branch.label , branch.PublicAddress)"
                    [class.active]="branch.label === label">
                    <span>{{branch.label}}</span>
                </li>
            </ul>
          </div> -->
              
              <div class="address" *ngIf="branchname && branchaddress">
                <h3>{{branchname}}</h3>
                <p>{{ branchaddress }}</p>
                <p *ngIf="phoneno">Tel: {{ phoneno }}</p>
              </div>
              <div  *ngIf="defaultadd">
              <div class="address">
                <h3>Parami Branch</h3>
                <p>No(289-B) +(290), Parami Road, Ward (4), South Okkalapa Township, Yangon, Myanmar.</p>
                <p>Tel: 01-8500631, 569341, 569619.</p>
              </div>
            </div>
            </div>
           
          </div>
          <div class="col-md-6" style="display: flex; flex-direction: column;">
            
            <div class="map" style="flex-grow: 1;">
              <agm-map [latitude]='latitude' [longitude]='longitude' [zoom]='zoom'>
                <agm-marker [latitude]="latitude" [longitude]="longitude">
                    <agm-info-window #infoWindow [isOpen]="openState" class="info">
                        <h1 class="bname" [innerHTML]="branchname"></h1>
                    </agm-info-window>
                </agm-marker>
            </agm-map>
            </div>
            
          </div>
        </div>
      </div>
  </div>
  <div class="footer">
      <div class="container">
        <div class="row d-flex align-items-center">
          <div class="col-md-6">
            <p>@2024 Myanmar Metro Bank Limited. All Rights Reserved </p>
          </div>
          <div class="col-md-6">
            <div class="social-line text-center">
              <a href="#" class="btn btn-neutral">
                 Privacy
              </a>
              <a href="#" class="btn btn-neutral">
                 Legal
              </a>
              <a href="#" class="btn btn-neutral">
                  Sitemap
              </a>
              <a href="#" class="btn btn-neutral">
                Cookie Preferences
            </a>
          </div>
          </div>
        </div>
      </div>
  </div>
</div>
</div>


<!-- <div class="section">
  <div class="coming-next">
    <div class="container">
      <div class="body">
        <div class="row d-flex align-items-center">
          <div class="col-md-12">
            <h1>What's Coming Next?</h1>
          </div>
          <div class="col-md-6">
            <img src="../../../assets/img/Group 36.png" alt="">
          </div>
          <div class="col-md-6">
            <ul>
              <li>Metro Pay For The Best Experience Of Digital Payment</li>
              <li>Metro Bank Cards For Your
                Next Level Banking Process</li>
                <li>Internet Banking!
                  Bring Your Cash to The Global</li>
            </ul>
          </div>
        </div>
      </div>
     
    </div>
  </div>
</div> -->
<!-- <div class="section">
  <div class="coming-next">
    <div class="why-metro">
      <div class="container">
        <div class="row text-center">
          <div class="col-md-12">
            <h1>What's Coming Next?</h1></div>
        </div>
      </div>
    </div>
    <div class="deposit">
      <div class="container">
        <div class="row d-flex justify-content-center align-items-center" id="one">
          <div class="col-md-6 text-center position-relative">
            <div class="first_img">
              <img src="../../../assets/img/coming.png" alt="" class="img-fluid">
            </div>
            <div class="sec_img slide">
              <img src="../../../assets/img/coming1.png" alt="" class="img-fluid animated-img">
            </div>
            <img src="../../../assets/img/vector.png" alt="" class="first-v">
            <img src="../../../assets/img/vector.png" alt="" class="second-v">
            <img src="../../../assets/img/vector.png" alt="" class="third-v">

          </div>
          <div class="col-md-6">
            <ul>
              <li>Metro Pay For The Best Experience Of Digital Payment</li>
              <li>Metro Bank Cards For Your
                Next Level Banking Process</li>
                <li>Internet Banking!
                  Bring Your Cash to The Global</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div> -->




