<app-navbar></app-navbar>
<div class="page-header min-vh-100" style="background-image: url(../../../assets/img/loan-cover.png);" loading="lazy">
    <span class="mask bg-gradient-dark opacity-5"></span>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-7 d-flex justify-content-center flex-column">
            <p class="text-white opacity-8 lead pe-5 me-5">Personal Loan / Education Loan</p>
          <h1 class="text-white mb-4">Education Loan to fulfill your further study dream</h1>
        </div>
      </div>
    </div>
  </div>
  
  <section class="">
    <div class="container">
        <div class="loan-fact">
            <div class="row">
                <div class="col-md-6">
                    <h3>Why you will love this</h3>
                    <ul class="listone">
                        <li>Flexible repayment plan to let you not stress on the financial burden during your times of study</li>
                        <li>Extendable loan option to have enough time for securing a job right after the course</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h3>Who can apply</h3>
                    <ul class="listone">
                        <li>Individuals who want to ease their financial burden during the course of further study and adjustable time to secure a job for repayment right after the study</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  </section>

  <section class="inner bg-blue">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="text-white" style="position:relative;z-index: 1;">Benefits</h2>
                <img class="animate-center" src="../../../assets/img/animation-blue.gif" alt="" style="height:70px !important;">  
                <p>Loreump isump kerio gerrio sadnefer ioperq seriover gderiops aderm</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
               <div class="benefit">
                    <img src="../../../assets/img/loanicon1.png" alt="">
                    <h3>Flexible Repayment Plan</h3>
                    <p>Can arrange the interest repayment during the course at your flexibility and principal repayment at the completion of the course</p>
               </div>
            </div>
            <div class="col-md-4">
                <div class="benefit">
                     <img src="../../../assets/img/loanicon1.png" alt="">
                     <h3>Flexible Repayment Plan</h3>
                     <p>Can arrange the interest repayment during the course at your flexibility and principal repayment at the completion of the course</p>
                </div>
             </div>
             <div class="col-md-4">
                <div class="benefit">
                     <img src="../../../assets/img/loanicon1.png" alt="">
                     <h3>Flexible Repayment Plan</h3>
                     <p>Can arrange the interest repayment during the course at your flexibility and principal repayment at the completion of the course</p>
                </div>
             </div>
        </div>
    </div>
  </section>

  <section class="inner">
    <div class="container">
        <div class="row text-center justify-content-center">
            <div class="col-lg-6">
            <p style="margin-bottom:30px;" class="sub-head">BEFORE YOU APPLY</p>
            </div>
        </div>
        <div class="row text-center justify-content-center">
            <div class="col-lg-8">
              
                <ul class="nav nav-pills">
                  <li class="nav-item">
                    <a class="nav-link" [class.active]="activeTab === 'fees'" (click)="selectTab('fees')">
                    Fees & Charges 
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" [class.active]="activeTab === 'eli'" (click)="selectTab('eli')">
                    Egilibility Requirements 
                    </a>
                  </li>
                  </ul>
                  
              
            </div>
        </div>
          <div class="tab-content mt-3">
            <div *ngIf="activeTab === 'fees'">
                <div class="row d-flex align-items-center">
                    <div class="col-md-6">
                        <ul class="listtwo">
                            <li>
                                <div class="d-flex">
                                    <div>
                                        Interest Rate
                                    </div>
                                    <div>As low as 10% per annum</div>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex">
                                    <div>
                                        Service Charge
                                    </div>
                                    <div>1% - 2%</div>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex">
                                    <div>
                                        Extension Fee
                                    </div>
                                    <div>1%</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <img src="../../../assets/img/fees.png" alt="">
                    </div>
                </div>
            </div>
            <div *ngIf="activeTab === 'eli'"><div class="row d-flex align-items-center">
                <div class="col-md-6">
                    <ul class="listtwo">
                        <li>Copy of admission letter of the Institute/University along with Fees schedule, course duration and fees.</li>
                        <li>Copy of NRC Card and household registration.</li>
                        <li>Letter from town council with the remark saying for loan application.</li>
                        <li>For employees, recommendation letter from employer for verification of current designation, salary and updated pay slips.</li>
                        <li>For self-employed, most recent audited financial statements for the company owned or company license.</li>
                        <li>Business must be registered in Myanmar</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <img src="../../../assets/img/fees.png" alt="">
                </div>
            </div></div>
          </div>
        </div>
  </section>

  <section class="inner">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="sub-head">PERSONAL LOANS</p>
                <h2>Other Related Products</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
              <div class="item">
                <img src="../../../assets/img/loan1.png" />
                <div class="title-info">
                  <h2>Business Loan</h2>
                  <p>High Deposit Balance with normal rate for day to day business porposes</p>
                </div>
                  
                  <div class="info">
                    <h2>Home Renovation Loan</h2>
                    <p>
                      Saving account with attractive rate for those older than 60 years old. 
                    </p>
                    <ul class="listone">
                      <li>Up to 7.5% p.a.</li>
                      <li>Unlimited Withdrawal and Deposit</li>
                      <li>Manage your account online</li>
                    </ul>

                    <a class="explore" href="loan">Explore detail
                      <img src="../../../assets/img/arrow-icon.png" style="width: 16px; height:11px;" alt="">
                    </a>
                    
                  </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="item">
                <img src="../../../assets/img/loan2.png" />
                <div class="title-info">
                  <h2>Business Expansion Loan</h2>
                  <p>High Deposit Balance with normal rate for day to day business porposes</p>
                </div>
                  
                <div class="info">
                  <h2>Business Loan</h2>
                  <p>
                    Saving account with attractive rate for those older than 60 years old. 
                  </p>
                  <ul class="listone">
                    <li>Up to 7.5% p.a.</li>
                    <li>Unlimited Withdrawal and Deposit</li>
                    <li>Manage your account online</li>
                  </ul>

                  <a class="explore" href="loan">Explore detail
                    <img src="../../../assets/img/arrow-icon.png" style="width: 16px; height:11px;" alt="">
                  </a>
                  
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="item">
                <img src="../../../assets/img/loan3.png" />
                <div class="title-info">
                  <h2>Working Capital Loan</h2>
                  <p>High Deposit Balance with normal rate for day to day business porposes</p>
                </div>
                  
                <div class="info">
                  <h2>Working Capital Loan</h2>
                  <p>
                    Saving account with attractive rate for those older than 60 years old. 
                  </p>
                  <ul class="listone">
                    <li>Up to 7.5% p.a.</li>
                    <li>Unlimited Withdrawal and Deposit</li>
                    <li>Manage your account online</li>
                  </ul>

                  <a class="explore" href="loan">Explore detail
                    <img src="../../../assets/img/arrow-icon.png" style="width: 16px; height:11px;" alt="">
                  </a>
                  
                </div>
              </div>
            </div>
          </div>
    </div>
  </section>

  <section class="inner">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="sub-head">CALCULATE YOUR INTEREST</p>
                <h2>Savings Calculator</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                    <form class="contact ng-untouched ng-pristine ng-valid" novalidate="">
                        <div class="row">
                            <div class="col-md-6">
                                <input class="form-control" placeholder="First Name" type="text">
                            </div>
                            <div class="col-md-6">
                                <input class="form-control" placeholder="Last Name" type="text">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input class="form-control" placeholder="Enter Deposit Amount" type="text">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input class="form-control" placeholder="Enter Interest Rate" type="text">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input class="form-control" placeholder="Enter Duration in months" type="text">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <button class="btn btn-primary btn-block">Calculate </button>
                            </div>
                        </div>
                    </form>
            </div>
            <div class="col-md-6">
                <div class="interest-cal">
                    
                </div>
            </div>
        </div>
    </div>
  </section>

  <section class="inner">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <p class="sub-head">FAQs</p>
                        <h2>Common questions about education loans</h2>
                        <img src="../../../assets/img/faq.png" alt="">
                    </div>
                </div>
                
            </div>
            <div class="col-md-6">

                <div class = "accordion">
                
                    <input type = "checkbox" id = "item1" name = "accordion1">
                
                    <label for = "item1">Which Institutions are qualified to apply for Eductation Loan?<i class = "fa fa-chevron-down"></i></label>
                
                    <div id = "content1" class = "item">
                      <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.</p>
                    </div>
                    <input type = "checkbox" id = "item2" name = "accordion1">
                
                    <label for = "item2">What is Cash Unlock Loan?<i class = "fa fa-chevron-down"></i></label>
                
                    <div id = "content2" class = "item">
                
                      <p>Jawaban 2?.........................
                
                      </p>
                
                    </div>
                
                    <input type = "checkbox" id = "item3" name = "accordion1">
                
                    <label for = "item3">What is Gold Financing Loan?<i class = "fa fa-chevron-down"></i></label>
                
                    <div id = "content3" class = "item">
                
                      <p>Jawaban 3?...................
                
                      </p>
                
                    </div>
                
                    <input type = "checkbox" id = "item4" name = "accordion1">
                
                    <label for = "item4">How is the gold appraisal process?<i class = "fa fa-chevron-down"></i></label>
                
                    <div id = "content4" class = "item">
                
                      <p>Jawaban 4?..............................
                
                      </p>
                
                    </div>
                
                  </div>
                
                  
                  
            </div>
        </div>
    </div>
  </section>


    <div class="container">
        <inner-footer></inner-footer>
    </div>

 