<div class="container">
<owl-carousel-o [options]="customOptions">
		<ng-template carouselSlide>
		  <div class="slide">
			<img src="https://via.placeholder.com/600/92c952" alt="img 1" style="width: 400px;"/>
		  </div>
		</ng-template>
		<ng-template carouselSlide>
			<div class="slide">
			  <img src="https://via.placeholder.com/600/92c952" alt="img 1" style="width:400px"/>
			</div>
		  </ng-template>
		  <ng-template carouselSlide>
			<div class="slide">
			  <img src="https://via.placeholder.com/600/92c952" alt="img 1" style="width:400px"/>
			</div>
		  </ng-template>
	 
  </owl-carousel-o>
</div>